.slider {
    position: relative;
    height: 300px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .prevBtn {
    left: 10px;
  }
  
  .nextBtn {
    right: 10px;
  }